@model IEnumerable<Candidate>

@if (Model.Count() > 0)
{

    <h6 class="display-6">Başvurular(@Model.Count())</h6>

    <table class="table table-hover table-striped">

        <thead>
            <tr>
                <th>Email</th>
                <th>Ad Soyad</th>
                <th>Başvuru Tarihi</th>
                <th>Kurs</th>
            </tr>
        </thead>

        <tbody>
            @foreach (Candidate item in Model){
                <tr>
                    <td>@item.email</td>
                    <td>@item.fullname</td>
                    <td>@item.applyTime</td>
                    <td>@item.selectedCourse</td>
                </tr>
            }
        </tbody>

    </table>



}

else
{

    <div class="alert alert-info">Henüz başvuru yok. Başvurmak için lütfen
        <a asp-action="Apply" class="link-primary">tıklayın</a>
    </div>

}